<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.admin.biz.mapper.SysRolePermissionMapper">

    <!-- 公共字段 -->
    <sql id="permissionResult">
        sp.id, sp.name, sp.parent_id, sp.type, sp.url, sp.icon, sp.sort_order, sp.perms
    </sql>

    <!-- 公共 JOIN 语句 -->
    <sql id="commonJoins">
        from sys_permission sp
        join sys_role_permission srp on sp.id = srp.permission_id
        join sys_role sr on srp.role_id = sr.id
        join sys_user_role sur on sr.id = sur.role_id
        join sys_user su on sur.user_id = su.id
    </sql>

    <select id="selectPermissionsByUserIdAndType" resultType="com.mall.admin.api.entity.SysPermission">
        select
            distinct <include refid="permissionResult"/>
        <include refid="commonJoins"/>
        <where>
            su.id = #{userId}
            AND sp.type IN
            <foreach collection="types" item="type" open="(" separator="," close=")">
                #{type}
            </foreach>
        </where>
    </select>

    <select id="selectPermissionByRoleId" resultType="com.mall.admin.api.entity.SysPermission">
        select
            distinct <include refid="permissionResult"/>
        from sys_permission sp
        join sys_role_permission srp on sp.id = srp.permission_id
        join sys_role sr on srp.role_id = sr.id
        <where>
            sr.id = #{roleId}
        </where>
    </select>

</mapper>