<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.admin.biz.mapper.SysUserRoleMapper">

    <!-- 公共字段 -->
    <sql id="roleResult">
        sr.id, sr.role_name, sr.role_code, sr.description
    </sql>

    <insert id="saveBatch">
        INSERT INTO sys_user_role (user_id, role_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.roleId})
        </foreach>
    </insert>

    <delete id="deleteUserRole" parameterType="string">
        delete from sys_user_role where user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <delete id="deleteByRoleIds">
        delete from sys_user_role where role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    <delete id="deleteByUserId">
        delete from sys_user_role where user_id = #{userId}
    </delete>

    <select id="listRolesByUserId" resultType="com.mall.admin.api.entity.SysRole">
        select
        <include refid="roleResult"/>
        from sys_role sr
        join sys_user_role sur on sr.id = sur.role_id
        join sys_user su on sur.user_id = su.id
        <where>
            su.id = #{userId}
        </where>
    </select>
</mapper>