<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.product.biz.mapper.ProductBrandCategoryRelationMapper">

    <update id="updateBrand">
        update product_brand_category_relation set brand_name = #{brandName}
        <where>
            brand_id = #{brandId}
        </where>
    </update>
    <update id="updateCategory">
        update product_brand_category_relation set category_name = #{categoryName}
        <where>
            category_id = #{categoryId}
        </where>
    </update>
</mapper>